<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>pinghong</display-name>
  <filter>
    <filter-name>behind</filter-name>
    <filter-class>cn.zkingsoft.util.BehindFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>behind</filter-name>
    <url-pattern>/behind/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>cn.zkingsoft.web.UserManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/showUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsManagerServlet</servlet-name>
    <servlet-class>cn.zkingsoft.web.NewsManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsManagerServlet</servlet-name>
    <url-pattern>/showNewsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsManagerServlet</servlet-name>
    <servlet-class>cn.zkingsoft.web.ProductManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsManagerServlet</servlet-name>
    <url-pattern>/showProductsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>cn.zkingsoft.web.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/showMessageListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upServlet</servlet-name>
    <servlet-class>cn.zkingsoft.web.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upServlet</servlet-name>
    <url-pattern>/upServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>front/index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>BehindFilter</display-name>
    <filter-name>BehindFilter</filter-name>
    <filter-class>cn.zkingsoft.util.BehindFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BehindFilter</filter-name>
    <url-pattern>/BehindFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>IndexFilter</display-name>
    <filter-name>IndexFilter</filter-name>
    <filter-class>cn.zkingsoft.util.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/front/index.jsp</url-pattern>
  </filter-mapping>
</web-app>